@font-face {
 font-family: 'Calculator';
 src: url("../../ven/fonts/display.ttf"); 
}
@font-face {
 font-family: 'Casio';
 src: url("../../ven/fonts/casio.ttf"); 
}


$body-background: #ececec;

$calculator-background: #f5f5f5;

$display-background: #f5f5f5;

$btn-background: #ffffff; 
$btn-color: #404040;
$display-text-color: $btn-color;
$btn-result-background: #fff;